:root {
    --margin-default: 1rem;
    /* the margin that i will use for default */
    --color-1: darkblue;
    /* darkblue */
    --border-default: 1px solid;
    /* Border for default */

}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--margin-default);
    border: var(--border-default) rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-default) steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--color-1);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color-1);
}

img {
    width: 150px;
    height: auto;
    border: var(--border-default) black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: var(--margin-default);
    border-top: var(--border-default) #000;
    text-align: center;
}