:root {
    --margin-default: 1rem;
    /* the margin that i will use for default */
    --color-1: darkblue;
    /* darkblue */
    --border-default: 1px solid;
    /* Border for default */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--color-1);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: var(--color-1);
    padding: 5rem;
}

main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-default) steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 285px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 67px;
    top: 25px;
}

footer {
    margin-top: var(--margin-default);
    border-top: var(--border-default) #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid #4575a5;
    padding: 1rem;
    background-color: #d9e5f2;
    color: #000;
}

.indent {
    padding-left: 2rem;
}